@define-color bg #2d353b;
@define-color white #d3c6aa;

@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color emerald #83c092;
@define-color blue #7fbbb3;
@define-color pink #d699b6;

@define-color accent @green;
* {
	border: none;
	border-radius: 0;
	box-shadow: none;
	/*color: @white;*/
    font-family: "FiraCode";
	font-size: 14px;
    font-weight: 600;
	margin: 0px 0px;
	padding: 0px 0px;
	text-shadow: none;
	transition-duration: 0s;
	/* transition-property: background-color; */
}

tooltip {
	background: @bg;
    color: @white;
	border: 1px solid #a9b665;
}

tooltip label {
	color: #d4be98;
}

window#waybar {
	background-color: @bg;
}

#tags {
    color: @bg;
    background-color: @bg;
}

#tags button {
    color: @white;
    background-color: @bg;
}

#tags button.occupied {
    color: @accent;
    background-color: @bg;
}

#tags button.focused {
    color: @bg;
    background-color: @accent;
    min-height: 30px;
}

#tags button.hover {
    color: @bg;
    background-color: @accent;
    /* color: #FFFFFF; */
    /* background-color: #FFFFFF; */
}

#mpd,
#tray,
#pulseaudio,
#window {
    color: @white;
}

/* #tray { */
/* 	padding: 1px 0px; */
/* } */

/* #tray menu { */
/* 	background-color: #282828; */
/* 	border: 1px solid #a9b665; */
/* } */

/* #tray * :hover { */
/* 	background-color: #3b4439; */
/* } */

/* #tray > .needs-attention { */
/* 	background-color: #ea6962; */
/* } */

/* pulseaudio */
/* #pulseaudio{ */
/* 	padding: 1px 0px; */
/* } */

/* #pulseaudio.bluetooth { */
/* 	background-color: #7daea3; */
/* } */

/* /1* pulseaudio#source *1/ */
/* #pulseaudio.source { */
/* 	padding: 2px 0px; */
/* 	background-color: #ea6962; */
/* 	color: #1b1b1b; */
/* } */

/* #pulseaudio.source.source-muted { */
/* 	background-color: #1b1b1b; */
/* 	color: #d4be98; */
/* } */

#clock {
	background-color: @accent;
	color: @bg;
}
