spawn-at-startup "waybar"
spawn-at-startup "dunst"
spawn-at-startup "mpd"
spawn-at-startup "swaybg" "-i" "/home/nethen/Pictures/wallpapers/rosepine/rose_pine_circle.png"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "~/.config/river/start_tts.sh"

spawn-at-startup "firefox"
spawn-at-startup "vesktop"
spawn-at-startup "Telegram"

window-rule {
    match app-id="org.telegram.desktop"
    block-out-from "screencast"
}

environment {
    DISPLAY ":0"
    BROWSER "firefox"
    GTK_THEME "rose-pine-moon-gtk"
    XDG_CURRENT_DESKTOP "sway"
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            variant "workman,"
            options "grp:alts_toggle,caps:escape"
        }
    }

    mouse {
        accel-speed 0.5
        accel-profile "flat"
        scroll-factor 2.0
    }

    focus-follows-mouse
    warp-mouse-to-focus
}

layout {
    // Set gaps around windows in logical pixels.
    gaps 8

    center-focused-column "never"

    preset-column-widths {
        // proportion 0.33333
        proportion 0.5
        proportion 0.8
    }

    default-column-width { proportion 0.8; }

    focus-ring {
        off
    }

    border {
        width 3
        active-color "#eb6f92"
        inactive-color "#505050"
        urgent-color "#9b0000"

        // active-gradient from="#ffbb66" to="#ffc880" angle=45 relative-to="workspace-view"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
}
binds {
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.

    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Q { spawn "kitty"; }
    Mod+Z { spawn "wofi" "--show" "drun" "--style" "/home/nethen/.config/wofi/style.css"; }
    Mod+X { spawn "~/.local/bin/wofispeak.sh"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+W { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+A     { focus-column-left; }
    Mod+S     { focus-window-or-workspace-down; }
    Mod+D     { focus-window-or-workspace-up; }
    Mod+H     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+A     { move-column-left; }
    Mod+Shift+S     { move-window-down-or-to-workspace-down; }
    Mod+Shift+D     { move-window-up-or-to-workspace-up; }
    Mod+Shift+H     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    // Mod+Shift+Page_Down { move-column-to-workspace-down; }
    // Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    // Mod+Shift+U         { move-column-to-workspace-down; }
    // Mod+Shift+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Ctrl+WheelScrollDown      { focus-column-right; }
    Mod+Ctrl+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+T       { toggle-window-floating; }
    Mod+Ctrl+T { switch-focus-between-floating-and-tiling; }


    // Print { screenshot; }
    // Ctrl+Print { screenshot-screen; }
    // Alt+Print { screenshot-window; }

    Print { spawn "/home/nethen/.local/bin/flameshot_to_clip"; }
    Shift+Print { screenshot; }


    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}

prefer-no-csd
screenshot-path null

hotkey-overlay {
    skip-at-startup
}

gestures {
    hot-corners {
        off
    }
}

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 32
}

overview {
    backdrop-color "#191724"
    workspace-shadow {
        off
    }
}

animations {
    slowdown 0.3
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}
