@define-color bg #232136;
@define-color white #e0def4;

@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color emerald #83c092;
@define-color blue #7fbbb3;
@define-color pink #d699b6;

@define-color love #eb6f92;
@define-color iris #c4a7e7;
@define-color pine #3e8fb0;
@define-color rose #ea9a97;
@define-color gold #f6c177;
@define-color foam #9ccfd8;

@define-color accent @love;

* {
	border: none;
	border-radius: 0;
	box-shadow: none;
	/*color: @white;*/
    font-family: "FiraCode";
	font-size: 14px;
    font-weight: 600;
	margin: 0px 0px;
	padding: 0px 0px;
	text-shadow: none;
	transition-duration: 0s;
	/* transition-property: background-color; */
}

tooltip {
	background: @bg;
    color: @white;
	border: 3px solid @love;
}

tooltip label {
	color: #d4be98;
}

window#waybar {
	background-color: transparent;
}

#tags, #workspaces {
    border: 3px solid @bg;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    color: @love;
    background-color: @bg;
}

#tags button, #workspaces button {
    color: @white;
    background-color: @bg;
}

#tags button.occupied {
    color: @love;
    background-color: @bg;
}

#tags button.focused, #workspaces button.focused {
    color: @love;
    background-color: @bg;
    min-height: 30px;
}

#tags button.hover, #workspaces button.hover {
    color: @bg;
    background-color: @accent;
    /* color: #FFFFFF; */
    /* background-color: #FFFFFF; */
}

#window {
    border: 3px solid @bg;
    border-radius: 6px;
    background-color: @bg;
    color: @pine;
    padding-bottom: 3px;
}

#pulseaudio {
    border-left: 3px solid @bg;
    border-right: 3px solid @bg;
    border-radius: 0px;
    background-color: @bg;
    color: @rose;
    margin-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#mpd {
    border: 3px solid @bg;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    background-color: @bg;
    color: @gold;
    margin-top: 0px;
}

#tray {
    border: 3px solid @bg;
    border-bottom: none;
    border-radius: 6px 6px 0px 0px;
    background-color: @bg;
    color: @white;
    margin-bottom: 0px;
}

#language {
    border: 3px solid @bg;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    background-color: @bg;
    color: @foam;
    margin-top: 0px;
    padding-top: 6px;
}

#clock {
    margin-top: 6px;
    border: 3px solid @bg;
    border-radius: 6px;
	background-color: @bg;
	color: @iris;
}
