@define-color bg-hover #f28668;
@define-color lbg #131721;
@define-color bg #24273a;
/* @define-color bg #0b0e14; */
@define-color blue #73b8ff;
@define-color sky #95e6cb;
@define-color red #f07178;
@define-color pink #f28779;
@define-color lavender #d2a6ff;
@define-color rosewater #f07178;
@define-color mauve #c6a0f6;
@define-color flamingo #f07178;
/* @define-color fg #bfbdb6; */
@define-color fg #cad3f5;
@define-color green #7fd962;
@define-color active-green #aad94c;
@define-color dark-fg #787bb0;
@define-color peach #f2966b;
@define-color border @mauve;
@define-color gray2 #cccac2;
@define-color black4 #0d1017;
@define-color black3 #131721;
@define-color maroon #d95757;
@define-color yellow #FF8F40;
@define-color main @mauve;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 7px;
  /* font-family: "JetBrains Mono Nerd Font"; */
    font-family: "FiraCode";
  font-size: 14pt;
  font-weight: 600;
  padding-bottom: 0px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

#window {
	margin: 0px 5px 2px 5px;
	padding-left: 10px;
	padding-right: 7px;
	border-radius: 7px;
	/* border-bottom: 2px solid @bg; */
	/* border-right: 2px solid @bg; */
	background-color: @main;
	color: @bg;
}

window#waybar.empty #window {
	background-color: transparent;
	border-bottom: none;
	border-right: none;
}

window#waybar {
  background-color:transparent;
  color: @lavender;
}

/* Workspaces */
/* @keyframes button_activate { */
/* 	from { opacity: .3 } */
/* 	to { opacity: 1.; } */
/* } */

#workspaces {
    margin: 0px 5px 2px 10px;
    border-radius: 7px;
    padding: 1px;
    background-color: @bg;
    color: @bg;
}

#workspaces button {
    margin: 0px 2px 5px 2px;
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 5px;
    background-color: @bg;
    color: @fg;
    min-width: 30px;
}

#workspaces button.active {
    background-color: @main;
    color: @bg;
    min-width: 40px;
}

#workspaces button.urgent {
	color: #F38BA8;
}

/* #workspaces button:hover { */
/*   border: solid transparent; */
/* } */

/* #custom-gpu-util { */
/*   margin: 0px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   background-color: @bg; */
/*   color: @fg; */
/* } */

#tray {
  margin: 0px 5px 2px 5px;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg;
  color: @fg;
}

/* #idle_inhibitor { */
/*   margin: 0px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   background-color: @bg; */
/*   color: @fg; */
/* } */


/* #network { */
/*   margin: 0px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 12px; */
/*   border-radius: 7px; */
/*   background-color: @bg; */
/*   color: @lavender; */
/* } */

/* #network.linked { */
/*   color: @peach; */
/* } */
/* #network.disconnected, */
/* #network.disabled { */
/*   color: @red; */
/* } */

#custom-cliphist {
	color: @peach;
	margin: 0px 5px 2px 5px;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 7px;
    background-color: @bg;

}

#custom-gpu-temp,
#cpu,
#memory,
#custom-clipboard,
#temperature {
  margin: 0px 5px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#battery,
#backlight,
#bluetooth,
#pulseaudio {
  margin-top: 0px;
  margin-bottom: 2px;
  color: @fg;
  background-color: @bg;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

}

#battery,
#bluetooth {
	margin-left: 0px;
	margin-right: 5px;
	padding-left: 7.5px;
	padding-right: 10px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

#backlight,
#pulseaudio {
	margin-right: 0px;
	margin-left: 5px;
	padding-left: 10px;
  	padding-right: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#clock {
  margin: 0px 10px 2px 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @fg;
  background-color: @bg;
}

#mpd {
    margin: 0px 5px 2px 5px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: @bg;
    color: @fg;
  /* margin-top: 0px; */
  /* margin-bottom: 2px; */
  /* color: @fg; */
  /* background-color: @bg; */
  /* border-top-right-radius: 7px; */
  /* border-bottom-right-radius: 7px; */
  /* border-top-left-radius: 7px; */
  /* border-bottom-left-radius: 7px; */
}

/* #mode { */
/*   margin: 0px 5px 2px 5px; */
/*   padding-left: 10px; */
/*   padding-right: 10px; */
/*   border-radius: 7px; */
/*   background-color: @bg; */
/*   color: @peach; */
/* } */
