window {
    margin: 0px;
    background-color: #232136;
    border-radius: 6px;
    border: 2px solid #eb6f92;
    color: #e0def4;
    font-family: "FiraCode";
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 0px;
    color: #eb6f92;
    background-color: #393552;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #393552;
    color: #232136;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #232136;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
}

#entry:selected {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 0px;
    outline: none;
}

#entry:selected * {
    background-color: #eb6f92;
    color: #232136;
    border-radius: 0px;
    outline: none;
}


/* window { */
/*     margin: 0px; */
/*     border: 1px solid #7A8478; */
/*     background-color: #2D353B; */
/* } */

/* #input { */
/*     margin: 5px; */
/*     border: none; */
/*     color: #D3C6AA; */
/*     background-color: #2D353B; */
/* } */

/* #inner-box { */
/*     margin: 5px; */
/*     border: none; */
/*     background-color: #2D353B; */
/*     height: 0px; */
/* } */

/* #outer-box { */
/*     margin: 5px; */
/*     border: none; */
/*     background-color: #2D353B; */
/* } */

/* #scroll { */
/*     margin: 0px; */
/*     border: none; */
/* } */

/* #text { */
/*     margin: 5px; */
/*     border: none; */
/*     color: #D3C6AA; */
/* } */

/* #entry:selected { */
/*     background-color: #272E33; */
/* } */
